/* ////////////////CODE///////////////////// */
/* html, body{
  height: 100%;
} */
#rownum{
    color: #4B4A4A;
    font-family: 'Source Code Pro';
    line-height: 1.28;
    padding-left: 30px;
    padding-right: 10px;
    
  }

 

  .outputbox{
    display: flex;
    font-family: 'Segoe UI';
    color: #C2C2C2;
    
  }
 
  #outputtxt{
    padding-top: 5px;
    padding-left: 20px;

  }
  .codetxt{
    overflow: hidden;
    display: flex;
    flex-flow:column;
    font-family: 'Source Code Pro';
    line-height: 1.28;
    color: white;
  }

  /* ////////FONT COLORS //////////////// */
  .purple{
    color: #A65AB3;
  }
  .lightblue{
    color: #64B1CF;
  }
  .brown{
    color: #C37E5B;
  }
  .green{
    color: #5E813F;
  }
  .orange{
    color: #DB990D;
  }
  .yellow{
    color: #D5DF96;
  }
  .blue{
    color: #3A6AB8 ;
  }
  /* /////////////////////////////////// */
  #commenttxt{
    padding-top: 14px;
  }
  #functiontxt{
    padding-top: 14px;
  }
  #functiontxt2{
    border-left:  1px solid #707070;
    padding-left: 20px;
  }
  #functiontxt3{
    border-left:  1px solid #707070;
    padding-left: 20px;
  }
  #functiontxt4{
    padding-top: 14px;
    
  }
  #functiontxt6{
    padding-top: 14px;
    
  }

  .nospace{
    word-spacing:-7px
  }
  #me{
    position: absolute;
    right: 20px;
    top:70px;
    
  }
  .outtitle{
    font-weight: 700;
    border-bottom: solid 1px #C2C2C2;
    padding-bottom: 1px;
    margin-bottom: 8px;
    
  }
  .output {
    margin-top: 10px;
    padding-left: 10px;
    background-color: #1E1E1E;
    border-top: solid 1px #707070;

    
  }