#runico{
    padding-top: 10px;
    padding-left: 10px;
  }

  #fileico{
    
    margin-top: 10px;
    padding-left: 5px;
    border-left: solid 4px #333333;
    
  }

  #filePath_3, #filePath_4{
    fill: #2D2D2D;
  }
  
  #smallrunico{
    
    padding-left: 9px;
    width: 6%;
  }
  #path1{
    fill: #1E1E1E;
  }
  #smallfile{
    position: relative;
    top: 7px;
    padding-left: 9px;
  }
  #homeico{
    fill: #D4D4D4;
    width: 35px;
    padding-left: 10px;
    
  }
  #smallfileBottom{
    width: 3%;
    margin-left: 4px;
    position:relative;
    top: 10px;
    
  }

  
  .footerIco{
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    right: -30px;
  }
  .youtubeIco{
    width: 20px;
    height: 17px;
    
  }
  .githubIco{
    width: 18px;
    
  }