#runico{
    width: 40px;
    height: 40px;
    background-image: url("icons/runbtn.svg");
    margin-top: 10px;
    margin-bottom: 30px;
    padding-right: 10px;
    padding-left: 12px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: right;
  }


  #fileico{
    width: 40px;
    height: 40px;
    background-image: url("icons/file.svg");
    background-repeat: no-repeat;
    padding-left: 6px;
    border-left: solid 4px #333333;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  #linkico{
    width: 40px;
    height: 40px;
    padding-left: 10px;
    margin-top: 30px;
    background-image: url('icons/links.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-left: solid 4px #333333;
    
 
  }
  .barIco:hover .tooltip{
    display: block;
    opacity: 0.9;
}
  .tooltip{
    
    display: block;
    color: black;
    background-color: white;
    border: solid 1px #333333;
    text-align: center;
    z-index: 1;
    width: 200px;
    position: relative;
    width: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    padding: 2px;
    opacity: 0.0;
    top: 41px;
    left: 20px;
    transition-property: opacity;
    transition-duration: 0s;
    transition-delay: 0.4s;

 
  }
  .smallrun{
    width: 20px;
    height: 20px;
    background-image: url('icons/smallrunico.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;  
    margin-left: 5px;
    margin-top: 1px; 
 
  }

  #filePath_3, #filePath_4{
    fill: #2D2D2D;
  }
  

  #path1{
    fill: #1E1E1E;
  }
  #smallfile{
    position: relative;
    top: 7px;
    padding-left: 9px;
  }
  #homeico{
    fill: #D4D4D4;
    width: 35px;
    padding-left: 10px;
    
  }
  #smallfileBottom{
    width: 3%;
    margin-left: 4px;
    position:relative;
    top: 10px;
    
  }

  
  .footerIcos{
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    right: -30px;
    cursor: pointer;
  }
  .footerIco{
    width: 20px;
    height: 17px;
  }

  .minimize{
    float: left;
    /* width: 40px; */
    height: 40px;
    background-image: url('icons/minimize.svg');
    background-size: contain;
    display: none;
    margin-top: 4px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    width: 100%;
   
   }