#runico{
    width: 40px;
    height: 40px;
    background-image: url("icons/runbtn.svg");
    margin-top: 10px;
    margin-bottom: 30px;
    padding-right: 10px;
    padding-left: 12px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: right;
  }

  #fileico{
    width: 40px;
    height: 40px;
    background-image: url("icons/file.svg");
    background-repeat: no-repeat;
    padding-left: 6px;
    border-left: solid 4px #333333;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
  }
  #linkico{
    width: 40px;
    height: 40px;
    padding-left: 10px;
    margin-top: 30px;
    background-image: url('icons/links.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-left: solid 4px #333333;
    
 
  }
  .smallrun{
    width: 20px;
    height: 20px;
    background-image: url('icons/smallrunico.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;  
    margin-left: 5px;
    margin-top: 1px; 
 
  }

  #filePath_3, #filePath_4{
    fill: #2D2D2D;
  }
  

  #path1{
    fill: #1E1E1E;
  }
  #smallfile{
    position: relative;
    top: 7px;
    padding-left: 9px;
  }
  #homeico{
    fill: #D4D4D4;
    width: 35px;
    padding-left: 10px;
    
  }
  #smallfileBottom{
    width: 3%;
    margin-left: 4px;
    position:relative;
    top: 10px;
    
  }

  
  .footerIcos{
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    right: -30px;
    cursor: pointer;
  }
  .footerIco{
    width: 20px;
    height: 17px;
  }

  .minimize{
    float: left;
    width: 40px;
    height: 40px;
    background-image: url('icons/minimize.svg');
    background-size: contain;
    display: none;
    margin-top: 4px;
   
   }