
@keyframes growBox {
    0% {
      width: 269px;
      height: 250px;
      text-align: left;
    }

    100% {
        width: 100%;
        min-height: 130vh;
        text-align: center;
    }
  }
@keyframes smallBox {
    0% {
        width: 100%;
        min-height: 80vh;
        text-align: center;  
    }

    100% {
            
        width: 269px;
        height: 250px;
        text-align: left;
    }
  }
@keyframes animateImg{
    0% {
        background-image: url('me2.svg');
      }
      20% {
        background-image: url('me3.svg');
      }

  }
.me{
    /* border: red 2px solid; */
    height: 80vh;
    width: 350px;
    position: absolute;
    right: 100px;
    top:110px;
    background-image: url("me2.svg");
    background-repeat: no-repeat;
    background-size: 95%, 100%;
    animation: animateImg .4s infinite;
    
}
