@font-face {
  font-family: "Segoe UI";
  src: url("./fonts/SEGOEUI.TTF") format("truetype");
}

html, body{
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  height: 100%;
  background-color: #007ACC;
  /* overflow: hidden; */
  
}
.main{
  width: 100vw;
 height: 100%;
 
}

.flex-cont {
  display: flex;
}
.vertical{
  flex-direction: column;
}
.horizontal{
  flex-direction: row;
}
.header{
  height: 19px;
  background-color: #3C3C3C;
  font-family: 'Segoe UI';
  color: #C2C2C2;
  font-size: 11px;
  text-align: center;
  z-index: 1;
}

.tab{
  background-color: green;
  height: 43px;
}
.menubar{
  float:left;
  background-color: #333333;
  width: 60px;
  display: flex;
  flex-direction: column;
}
.firsthalf{
  display: flex;
  flex-direction: column;
}

.menuopen{
  width: 100%;
  background-color: #262525;
  display: none;
  font-family: 'Segoe UI';
  color: #D4D4D4;
  padding-top: 10px;
  overflow: hidden;
  position: relative;
}
.aside{
  /* padding-top: 21px; */
  display: flex;
  flex-direction: column;
  background-color:#1E1E1E;
  /* min-height: 87vh; */
  width: 100%;
  /* padding-bottom: 85px; */
  
 
  
}

.asideProject{
  display: none;
  padding-top: 21px;
  display: flex;
  flex-direction: column;
  /* overflow: scroll; */
  background-color:#1E1E1E;
  min-height: 85vh;
  width: 100%;
}


.row-2{
  width: 100%;
  background-color: #1E1E1E;
}
#explorertxt{
  padding-bottom: 30px;
  font-size: 14px;
}
.maintitle{
  font-weight: 1000;
  font-size: 14px;
}

.projectlist{
  margin-top: -2px;
  list-style-type: none;
  font-size: 14px;
  line-height: 22px;
  border-bottom: solid 1px #333333;
  padding-bottom: 10px;
  margin-left:-50px;
  margin-bottom: 10px;

}
.listItem{
  padding-left: 32px;
}


.tabback {
  background-color: #252526;
  width: 100%;
  z-index: 1;
}

.tabtxt1{
  position: relative;
  top: -18px;
  left: 10px;
  font-family: 'Segoe UI';
  color: #C2C2C2;
  font-size: 14px;
}
.tabtxt2{
  position: relative;
  top: -1px;
  left: 10px;
  font-family: 'Segoe UI';
  color: #C2C2C2;
  font-size: 14px;
}

.tab1 {
  background-color: #1E1E1E;
  width: 40%;
  min-width: 130px;
  margin-left: -50px;
  z-index: 1;
}
.tab2 {
  background-color: #2D2D2D;
  width: 40%;
  min-width: 130px;  
  z-index: 1;
} 
.tab{
  display: flex;
  flex-direction: row;
  padding-left: 50px;
}

.footer {
background-color: #007ACC;
width: 100%;
height: 21px;
position: relative;;
left: -60px;
padding-right: 60px;
padding-top: 1px;
/* overflow: hidden; */

display: flex; 
flex-direction: row; 
justify-content: center; /* center items horizontally, in this case */
align-items: center; /* center items vertically, in this case */
z-index: 1;
}

.listItem:hover
{
  background-color: #333333 !important;
  cursor: pointer;
}
a{
  word-break: break-all;
}
em{
  word-break: break-all;
}
.pcPath{
  word-break: break-all;

}





