
/* //////////////CONTAINER////////////////////// */
body{
  max-width: 1vw;
  height: 1vh;
}

  .header{
    
      background-color: #3C3C3C;
      font-family: 'Segoe UI';
      color: #C2C2C2;
      font-size: 18px;
      text-align: center;
      width: 100%;
      height: 3.8%;
      
      
  }
  .menubar{
    
    
      background-color: #333333;
      

  }
  .menuopen{
   
    background-color: #262525;
    display: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #D4D4D4;
    padding-top: 10px;
    padding-left: 10px;

  }
  
  .aside{
    /* position: relative;
    left: -270px;
    width: 1841; */

    padding-top: 21px;
    display: flex;
    
      background-color:#1E1E1E;
  }
  .tabback {
      background-color: #252526;
  }

  .tab1 {
      background-color: #1E1E1E;
  }
  .tab2 {
      background-color: #2D2D2D;
  } 
.footer {
  
    background-color: #007ACC;
}
.output {
  margin-top: 30px;
  margin-left: -86px;
  width: 1841px;
  
  background-color: #1E1E1E;
  border-top: solid 1px #707070;
}

  /* ////////////////CODE///////////////////// */
  #rownum{
    color: #4B4A4A;
    font-size: 22px;
    font-family: 'Source Code Pro';
    line-height: 1.28;
    padding-left: 30px;
    padding-right: 30px;
  }

  #runico{
    padding-top: 10px;
    padding-left: 18px;
    
  }
  .runico{
    fill: #216583 !important;
  }
  #fileico{
    margin-left: px;
    margin-top: 10px;
    padding-left: 12px;
    border-left: solid 6px #333333;
  }

  #homeico{
    padding-top: 10px;
    padding-left: 10px;
  }
 
  #smallfileico{
    padding-top: 10px;
    padding-left: 10px;

   
  }
  .tabtxt{
    position: relative;
    top: -6px;
    left: 10px;
    font-family: 'Segoe UI';
    color: #C2C2C2;
    font-size: 20px;
  }
  .outputbox{
    display: flex;
    font-family: 'Segoe UI';
    color: #C2C2C2;
    font-size: 25px;
    
  }
  #outputtxt2{
    padding-top: 75px;

  }
  #smallrunico{
    padding-top: 75px;
    padding-left: 9px;
  }
  #smallfile{
    position: relative;
    top: 7px;
    padding-left: 9px;
  }
  #outputtxt{
    padding-top: 10px;
    padding-left: 50px;

  }
  .codetxt{
    display: flex;
    flex-flow:column;
    font-size: 22px;
    font-family: 'Source Code Pro';
    line-height: 1.28;
    color: white;
  }

  /* ////////FONT COLORS //////////////// */
  .purple{
    color: #A65AB3;
  }
  .lightblue{
    color: #64B1CF;
  }
  .brown{
    color: #C37E5B;
  }
  .green{
    color: #5E813F;
  }
  .orange{
    color: #DB990D;
  }
  .yellow{
    color: #D5DF96;
  }
  .blue{
    color: #3A6AB8 ;
  }
  /* /////////////////////////////////// */
  #commenttxt{
    padding-top: 85px;
  }
  #functiontxt{
    padding-top: 29px;
  }
  #functiontxt2{
    border-left:  1px solid #707070;
    padding-left: 20px;
  }
  #functiontxt3{
    border-left:  1px solid #707070;
    padding-left: 20px;
  }
  #functiontxt4{
    padding-top: 28px;
    
  }
  #functiontxt6{
    padding-top: 27px;
    
  }

  .nospace{
    word-spacing:-15px
  }
  #me{
    position: absolute;
    right: 100px;
    top: 150px;
  
  }
  .outtitle{
    font-weight: 700;
    border-bottom: solid 1px #C2C2C2;
    padding-bottom: 10px;
  }
  #explorertxt{
    padding-bottom: 30px;
    font-size: 18px;
  }
  #projectstxt{
    font-weight: 1000;
    font-size: 18px;
  }
  #contacttxt{
    font-weight: 1000;
    font-size: 18px;
    border-bottom: solid 1px #333333;
    padding-bottom: 13px;
    margin-left: -10px;
    padding-left: 10px;
  }
  #projectlist{
    margin-top: 4px;
    list-style-type: none;
    font-size: 18px;
    line-height: 30px;
    border-bottom: solid 1px #333333;
    padding-bottom: 10px;
    margin-left: -10px;
    margin-bottom: 10px;
  }

