@font-face {
  font-family: "Impact";
  src: url("./fonts/impact.ttf") format("truetype");
}
@font-face {
  font-family: "Segoe UI";
  src: url("./fonts/SEGOEUI.TTF") format("truetype");
}


.projectContainer{
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    margin: auto;
    justify-content: center; /* center items horizontally, in this case */
    align-items: center; /* center items vertically, in this case */
    
}
.projectPage{
  font-family: 'Segoe UI';
  display: none;
  font-size: 14px;
  -webkit-text-stroke: black 0px;
  padding: 40px;
  text-align: left;

}

.project.box{
    border: #D4D4D4 solid 1px;
    background-color: #3C3C3C;
    height: 250px;
    width: 274px;
    margin: 0px ;  
    animation: createBox .25s;
    display: flex;
    flex-direction: column;
    min-height: 250px;
    height: 100%;
    margin: 3px;
    font-size: 45px;
    font-weight: 1000;
    font-family: Impact;
    color: seashell;
    -webkit-text-stroke: black 2px;
    padding-left: 5px;
    
}
.project:hover {
    cursor: pointer;
}



.project.project1.box{
  background-image: url('svg/p1.svg');
}
.project.project2.box{
  background-image: url('svg/p2.svg');
}
.project.project3.box{
  background-image: url('svg/p3.svg');
}
.project.project4.box{
  background-image: url('svg/p4.svg');
}
.project.project5.box{
  background-image: url('svg/p5.svg');

}
a{
  color: white;
}
.projectImg{
  display: block;
  margin: 0 auto;
}






