.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: 20px;
    
}

.project{
    border: red solid 1px;
    background-color: rosybrown;
    height: 250px;
    width: 274px;
    margin: 2px ;  
}

