@font-face {
  font-family: "Impact";
  src: url("./fonts/impact.ttf") format("truetype");
}
@font-face {
  font-family: "Segoe UI";
  src: url("./fonts/SEGOEUI.TTF") format("truetype");
}


.projectContainer{
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    margin: auto;
    justify-content: center; /* center items horizontally, in this case */
    align-items: center; /* center items vertically, in this case */
    
}
.projectPage{
  font-family: 'Segoe UI';
  display: none;
  font-size: 14px;
  -webkit-text-stroke: black 0px;
  padding-top: 40px;
  text-align: left;
  font-weight: 500;
  

}

.project.box{
    border: #D4D4D4 solid 1px;
    background-color: #3C3C3C;
    height: 250px;
    margin: 0px ; 
    animation: createBox .25s;
    display: flex;
    flex-direction: column;
    width: 250px;
    min-height: 250px;
    height: 100%;
    margin: 3px;
    font-size: 45px;
    /* font-weight: 0; */
    font-family: Impact;
    color: seashell;
    padding-left: 5px;
    /* justify-content: space-between; */
    text-shadow: 0 0 4px #000; /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow: 0 0 4px #000;
    -webkit-text-shadow: 0 0 4px #000;
    
}
.project:hover {
    cursor: pointer;
}
.projectVideo{
  width:70%;
  height:415px;
}
.project{
  background-repeat: no-repeat;
  background-size: contain;
  /* overflow: hidden; */
}

.project.project1.box{
  background-image: url('svg/p1.svg');
}
.project.project2.box{
  background-image: url('svg/p2.svg');
}
.project.project3.box{
  background-image: url('svg/p3.svg');
}
.project.project4.box{
  background-image: url('svg/p4.svg');
}
.project.project5.box{
  background-image: url('svg/p5.svg');
}
#p6{
  background-image: url('svg/p6.svg');
}
#p7{
  background-image: url('svg/p7.svg');
}
a{
  color: white;
}
.projectImg{
  display: block;
  margin: 0 auto;
}
.emptySpace1{
  margin-top: 176px;
}
.emptySpace2{
  margin-top: 120px;
}
.emptySpace3{
  margin-top: 65px;
}
.hashTag{
  font-size: 14px;
  font-weight: bold;
  /* -webkit-text-stroke: black 1px; */
  letter-spacing: 0px;
  background-color: black;
  opacity: 0.7;
  margin-left: -4px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  
}



