/* width////////////////////////////////////////////////////////////////////////////////// */
@media only screen and (max-width: 600px) {
    /* mobile */
     
     .menuopen{flex-direction: row;}
     .menuopen{min-height: 100px;}
     .mobile{flex-direction: column;}
     .codetxt{font-size: 11px;}
     .rownum{font-size: 11px;}
     #outputtxt2{padding-top: 34px;}
     #smallrunico{padding-top: 25px;}
     #output{font-size: 11px;}
     ul#projectlist li{display: inline;}
     #projectlist{border: none;}
     #projectstxt{margin-top: -35px;}
     #projectlist{margin-left: -20px;}
     #explorertxt{margin-left: 10px;}
     #projectstxt{margin-left: 10px;}
     
     
   }
   /* medium - disable image */
   @media only screen and (min-width: 600px) {
 
     .menuopen {padding-left: 10px;}
     .menuopen {min-width: 220px;}
     .menuopen {width: 220px;}
     .menuopen{flex-direction: column;}
     
     /* #mesvg,#mesvg2{width: 60%;} */
     /* .me{display: none;} */
     .codetxt{font-size: 14px;}
     .rownum{font-size: 14px;}
     #output{font-size: 14px;}
     #outputtxt2{padding-top: 41px;}
     #smallrunico{padding-top: 33px;}
     ul#projectlist li{display: block}
   }
   @media only screen and (max-width: 960px) {
    .me{display: none;}
   }

   
   @media only screen and (min-width: 1100px) {
     /* For desktop: */
     .menuopen {min-width: 220px;}
     .menuopen {width: 220px;}
     .menuopen{flex-direction: column;}
     /* .me{display: block;} */
     /* #mesvg,#mesvg2{width: 75%;} */
     .codetxt{font-size: 16px;}
     .rownum{font-size: 16px;}
     #output{font-size: 16px;}
     #outputtxt2{padding-top: 48px;}
     #smallrunico{padding-top: 42px;}
     ul#projectlist li{display: block}
  }


  /* height //////////////////////////////////////////////////////////////////////////////*/
/* zooming out */

  @media only screen and (min-height: 699px) {
    .aside , .asideProject{min-height: 85vh;}
  }
  @media only screen and (min-height: 772px) {
    .aside , .asideProject{min-height: 87vh;}
  }
  @media only screen and (min-height: 874px) {
    .aside , .asideProject{min-height: 88vh;}
  }
  @media only screen and (min-height: 1005px) {
    .aside , .asideProject{min-height: 90vh;}
  }
  @media only screen and (min-height: 1165px) {
    .aside , .asideProject{min-height: 91vh;}
  }
  @media only screen and (min-height: 1398px) {
    .aside , .asideProject{min-height: 92.5vh;}
  }
  @media only screen and (min-height: 1748px) {
    .aside , .asideProject{min-height: 100vh;}
  }

